# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
env/

# Environment variables
.env

# MongoDB dumps
dump/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static files
/static/
/staticfiles/

# Logs
logs/
